---
layout: default
title: Megaplex Theatres
---

<h1>Find movie times</h1>

<!-- Movies -->

{% include _movies-dropdown.html %}
{% include _movies.html %}

<div class="row">

  <!-- Hot Deals -->
  <section class="hot-deals">
    <h2>Hot Deals</h2>
    <ul class="icon-list large">
      <li>
        <a href="{{ site.baseurl }}work-in-progress" class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x2385;"></span>
          <p class="icon-list-content">
            <b>Star Trek Party</b>
            Red carpet viewing at the Legacy Crossing location in Centerville, Utah.<br>
            <i class="icon-list-cta">Learn more</i>
          </p>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}work-in-progress" class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x26b1;"></span>
          <p class="icon-list-content">
            <b>Dinner and a Movie Gift Package</b>
            Includes a $30 gift card, two Black Premium passes, and one large popcorn voucher.<br>
            <i class="icon-list-cta">Learn more</i>
          </p>
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}work-in-progress" class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x297e;"></span>
          <p class="icon-list-content">
            <b>Star Trek Into Darkness RealD 3D Glasses</b>
            Collectible 3-pack that includes Kirk, Spock, and Uhura resealable poly bags.<br>
            <i class="icon-list-cta">Learn more</i>
          </p>
        </a>
      </li>
    </ul>
    <div class="button-row">
      <a href="{{ site.baseurl }}work-in-progress" class="button">View All</a>
    </div>
  </section>

  <!-- What's Up -->
  <section class="whats-up">
    <h2>What's Up</h2>
    <ul class="icon-list">
      <li>
        <div class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x74;" class="twitter"></span>
          <p class="icon-list-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua #hashtag <a href="{{ site.baseurl }}work-in-progress" target="_blank">goo.gl/rqsPs</a>
          </p>
        </div>
      </li>
      <li>
        <div class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x66;" class="facebook"></span>
          <p class="icon-list-content">
            Oscar nominations are out this morning. Which movie gets your vote for Best Picture? Post a vote and review on Facebook for a chance to win an award! <a href="{{ site.baseurl }}work-in-progress" target="_blank">fb.me/T3DJ41</a>
          </p>
        </div>
      </li>
      <li>
        <div class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x74;" class="twitter"></span>
          <p class="icon-list-content">
            Consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua #hashtag <a href="{{ site.baseurl }}work-in-progress" target="_blank">goo.gl/rqsPs</a>
          </p>
        </div>
      </li>
      <li>
        <div class="icon-list-item">
          <span aria-hidden="true" data-icon="&#x74;" class="twitter"></span>
          <p class="icon-list-content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua #hashtag <a href="{{ site.baseurl }}work-in-progress" target="_blank">goo.gl/rqsPs</a>
          </p>
        </div>
      </li>
    </ul>
    <div class="button-row">
      <a href="{{ site.baseurl }}work-in-progress" class="button">View All</a>
    </div>
  </section>

</div>
