<hr class="filmstrip">

<footer>

  <span class="locations">
    <h5>Megaplex Locations</h5>
    <a href="{{ site.baseurl }}locations">
      <span aria-hidden="true" data-icon="&#x25bd;"></span>
    </a>
  </span>

  <ul>
    <li><a href="{{ site.baseurl }}movies">Movies</a></li>
    <li><a href="{{ site.baseurl }}movies">Locations</a></li>
    <li><a href="{{ site.baseurl }}amenities">Amenities</a></li>
    <li><a href="{{ site.baseurl }}services">Services</a></li>
    <li><a href="{{ site.baseurl }}about">About</a></li>
    <li><a href="{{ site.baseurl }}mega-cards">Mega Cards</a></li>
    <li><a href="{{ site.baseurl }}store">Store</a></li>
  </ul>

</footer>