<hr class="filmstrip">

<footer>

  <span class="locations">
    <h5>Megaplex Locations</h5>
    <a href="{{ site.baseurl }}locations">
      <span aria-hidden="true" data-icon="&#x25bd;"></span>
    </a>
  </span>

  <div>
    <h6><a href="{{ site.baseurl }}work-in-progress">About</a></h6>
    <ul>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
    </ul>
  </div>

  <div>
    <h6><a href="{{ site.baseurl }}work-in-progress">Mega Cards</a></h6>
    <ul>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
    </ul>
  </div>

  <div>
    <h6><a href="{{ site.baseurl }}work-in-progress">Services</a></h6>
    <ul>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
    </ul>
  </div>

  <div>
    <h6><a href="{{ site.baseurl }}work-in-progress">Features</a></h6>
    <ul>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
      <li><a href="{{ site.baseurl }}work-in-progress">Insert Link Here</a></li>
    </ul>
  </div>

</footer>