<header>

  <a href="{{ site.baseurl }}" id="logo">Larry H. Miller Megaplex Theatres</a>
  <a href="#content" class="screen-reader">Skip to content</a>
  <!-- <a href="{{ site.baseurl }}work-in-progress" class="screen-reader">See the Descriptive Video Service (DVS) movie schedule</a> -->

  <p class="publicity">
    <span class="tagline"><em>Vintage theatre service,</em> modern cinema technology.</span>
    <span class="why">Why Megaplex? <a href="{{ site.baseurl }}work-in-progress">100% reserved seating</a>.</span>
  </p>

  <div class="utilities">
    <p><a href="{{ site.baseurl }}work-in-progress">Login</a> or <a href="{{ site.baseurl }}work-in-progress">Create an Account</a></p>
    <b class="menu"><span aria-hidden="true" data-icon="&#x2630;"></span> <i>Menu</i></b><a href="" class="search"><span aria-hidden="true" data-icon="&#x26b2;"></span> <i>Search</i></a>
  </div>

  {% include _nav.html %}

</header>