<header>

  <a href="{{ site.baseurl }}" id="logo">Larry H. Miller Megaplex Theatres</a>
  <a href="#content" class="screen-reader">Skip to content</a>
  <a href="{{ site.baseurl }}work-in-progress" class="screen-reader">See the Descriptive Video Service (DVS) movie schedule</a>

  <p class="tagline">
    <b><em>Vintage theatre service,</em> modern cinema technology.</b>
    Why Megaplex? <a href="{{ site.baseurl }}work-in-progress">100% reserved seating</a>.
  </p>

  <div class="utilities">
    <p><a href="{{ site.baseurl }}work-in-progress">Login</a> or <a href="{{ site.baseurl }}work-in-progress">Create an Account</a></p>
    <form id="search-form">
      <label id="search-label" for="search-input" class="screen-reader">Search</label>
      <input id="search-input" type="search" aria-labelledby="search-label" class="search-field" placeholder="Search" value="">
      <input type="submit" value="Submit Search" class="button screen-reader">
    </form>
  </div>

  {% include _nav.html %}

</header>