<header>

  <a href="{{ site.baseurl }}" id="logo">Larry H. Miller Megaplex Theatres</a>
  <a href="{{ site.baseurl }}work-in-progress" class="screen-reader">Learn about our Descriptive Video Service (DVS) for visually-impaired guests</a>
  <a href="#content" class="screen-reader">Skip to content</a>

  <div>

    <p class="tagline">
      <b>Vintage theatre service, modern cinema technology.</b>
      Why Megaplex? <a href="{{ site.baseurl }}work-in-progress">100% reserved seating</a>.
    </p>

    <div class="utilities">
      <p><a href="{{ site.baseurl }}work-in-progress">Login</a> or <a href="{{ site.baseurl }}work-in-progress">Create an Account</a></p>
      <form id="search-form">
        <label id="search-label" for="search-input" class="screen-reader">Search</label>
        <input id="search-input" type="search" aria-labelledby="search-label" class="search-field" placeholder="Search" value="">
        <!-- <input type="submit" value="Search" class="button"> -->
      </form>
    </div>

    {% include _nav.html %}

  </div>

</header>