<nav>
  <ul>
    <li><a href="{{ site.baseurl }}">Showtimes</a></li>
    <li>
      <b>Locations</b>

      <div class="nav-sub">
        <h3>Northern Utah</h3>
        <ul>
          <li><a href="{{ site.baseurl }}work-in-progress">Centerville - Legacy Crossing</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Lehi - Thanksgiving Point</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Logan - North Main</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Logan - Providence Stadium</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Logan - University Stadium</a></li>
          <li><a href="{{ site.baseurl }}locations/ogden-the-junction">Ogden - The Junction</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Salt Lake City - The Gateway</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Sandy - Jordan Commons</a></li>    
          <li><a href="{{ site.baseurl }}work-in-progress">South Jordan - The District</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">West Valley - Valley Fair Mall</a></li>
        </ul>
        <h3>Southern Utah</h3>
        <ul>
          <li><a href="{{ site.baseurl }}work-in-progress">Cedar City - Fiddler</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">Cedar City - Stadium</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">St. George - Main Street</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">St. George - Pineview Stadium</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">St. George - Sunset Stadium</a></li>
          <li><a href="{{ site.baseurl }}work-in-progress">St. George - Washington Red Cliffs</a></li>
        </ul>
        <h3>Nevada</h3>
        <ul>
          <li><a href="{{ site.baseurl }}work-in-progress">Mesquite - Stadium</a></li>
        </ul>
      </div>

    </li>
    <li><a href="{{ site.baseurl }}work-in-progress">Features</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Services</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">About</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Mega Cards</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Store</a></li>
  </ul>
</nav>