<nav>
  <ul>
    <li><a href="{{ site.baseurl }}">Showtimes</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Locations</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Features</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Services</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">About</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Mega Cards</a></li>
    <li><a href="{{ site.baseurl }}work-in-progress">Store</a></li>
  </ul>
</nav>