<section class="tickets">
  <div>

    <h3>Tickets</h3>

    <form>
      <fieldset>
  
        <!-- When -->

        <div class="tickets-when">
          <label class="label-large" for="datepicker">When</label>
          <input type="text" id="datepicker" class="calendar" readonly>
          <em class="trigger-focus" onclick="document.getElementById('datepicker').focus();">Choose a Date</em>
          <!-- <span class="calendar">
            <i>Jun</i>
            <em>14</em>
            <i>Fri</i>
          </span> -->
        </div>

        <!-- Where -->

        <div class="tickets-where">
          <label class="label-large" for="location-picker">Where</label>
          <span class="tickets-location ogden-the-junction">
            <span>
              The Junction<br>
              Ogden, UT
            </span>
          </span>
          <em class="trigger-focus">Choose a Location</em>
        </div>
  
        <!-- Format -->

        <div class="tickets-format">
          <label class="label-large">Choose a Format</label>

          <div class="boxy-list">
            
            <input type="radio" id="format-2d" name="choose-format" value="2D">
            <label class="boxy-list-item" for="format-2d">2D</label>
            
            <input type="radio" id="format-3d" name="choose-format" value="3D">
            <label class="boxy-list-item" for="format-3d">3D</label>
            
            <input type="radio" id="format-imax-3d" name="choose-format" value="IMAX 3D">
            <label class="boxy-list-item" for="format-imax-3d">IMAX 3D</label>
            
            <input type="radio" id="format-vip-theatre" name="choose-format" value="VIP Theatre">
            <label class="boxy-list-item" for="format-vip-theatre">VIP Theatre</label>
            
            <input type="radio" id="format-d-box" name="choose-format" value="D-BOX">
            <label class="boxy-list-item" for="format-d-box">D-BOX</label>
            
          </div>

          <p class="tickets-hint">
            <a href="{{ site.baseurl }}work-in-progress" target="_blank">What do these mean?</a>
          </p>

        </div>
  
        <!-- Time -->

        <div class="time">
          <label class="label-large">Choose a Time</label>
          
          <div class="boxy-list">
            
            <input type="radio" id="time-11-15-am" name="choose-time" value="11:15">
            <label class="boxy-list-item" for="time-11-15-am">11:15 AM</label>
            
            <input type="radio" id="time-12-15-pm" name="choose-time" value="12:15">
            <label class="boxy-list-item" for="time-12-15-pm">12:15 PM</label>
            
            <input type="radio" id="time-2-45-pm" name="choose-time" value="2:45">
            <label class="boxy-list-item" for="time-2-45-pm">2:45 PM</label>
            
            <input type="radio" id="time-4-25-pm" name="choose-time" value="4:25">
            <label class="boxy-list-item" for="time-4-25-pm">4:25 PM</label>
            
            <input type="radio" id="time-6-00-pm" name="choose-time" value="6:00">
            <label class="boxy-list-item" for="time-6-00-pm">6:00 PM</label>
            
            <input type="radio" id="time-7-45-pm" name="choose-time" value="7:45">
            <label class="boxy-list-item" for="time-7-45-pm">7:45 PM</label>
          
          </div>

        </div>
  
        <!-- Quantity -->

        <div class="tickets-quantity">
          <label class="label-large">Select Quantity:</label>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
            <option>11</option>
            <option>12</option>
            <option>13</option>
            <option>14</option>
            <option>15</option>
            <option>16</option>
            <option>17</option>
            <option>18</option>
            <option>19</option>
            <option>20</option>
          </select>
        </div>
  
        <!-- Button -->

        <p class="button-row">
          <a href="{{ site.baseurl }}confirmation" class="button">Buy Tickets</a>
        </p>
  
      </fieldset>
  
    </form>
  </div>
</section>
