<div class="filmstrip">
  <hr>
  <hr>
</div>

<footer>

  <div class="footer-map">
    <img>
    <h6>Megaplex Locations</h6>
  </div>

  <div class="footer-links">
    <h6>Features</h6>
    <ul>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
    </ul>
  </div>

  <div class="footer-links">
    <h6>Services</h6>
    <ul>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
    </ul>
  </div>

  <div class="footer-links">
    <h6>Mega Cards</h6>
    <ul>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
    </ul>
  </div>

  <div class="footer-links">
    <h6>About</h6>
    <ul>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
      <li><a href="">Insert Link Here</a></li>
    </ul>
  </div>

</footer>