<header>

  <a href="/" id="logo">Larry H. Miller Megaplex Theatres</a>

  <div class="tagline">
    <h2>Insert a pithy tagline or phrase here.</h2>
    <h3>Why Megaplex?&emsp;<a href="">100% reserved seating</a>.</h3>
  </div>

  <div class="utilities">
    <p><a href="">Login</a> or <a href="">Create an Account</a></p>
    <form id="search-form">
      <label id="search-label" for="search-input" class="screen-reader">Search</label>
      <input id="search-input" type="search" aria-labelledby="search-label" class="search-field" placeholder="Search" value="">
      <!-- <input type="submit" value="Search" class="button"> -->
      <span class="clarify-field">for movies, locations, anything</span>
    </form>
  </div>

</header>