<header>
  <a href="/" id="logo">Larry H. Miller Megaplex Theatres</a>
  <h2 class="tagline">Insert a pithy tagline or phrase here.</h2>

  <div class="utilities">
    <p><a href="">Login</a> or <a href="">Join</a> our club</p>
    <form id="search-form">
      <label id="search-label" for="search-input">Search</label>
      <input id="search-input" type="search" aria-labelledby="search-label" class="search-field" placeholder="Search">
      <!-- <input type="submit" value="Search" class="button"> -->
      <span class="clarify-field">for movies, locations, anything</span>
    </form>
  </div>

</header>