<h1>Find movie times</h1>

<!-- Movies -->

<div class="movies">

  <select class="select-location">
    <option value="">Showings for all Megaplex locations</option>
    <optgroup label="Northern Utah">
      <option value="Centerville - Legacy Crossing">Centerville - Legacy Crossing</option>
      <option value="Lehi - Thanksgiving Point">Lehi - Thanksgiving Point</option>
      <option value="Logan - North Main">Logan - North Main</option>
      <option value="Logan - Providence Stadium">Logan - Providence Stadium</option>
      <option value="Logan - University Stadium">Logan - University Stadium</option>
      <option value="Ogden - The Junction">Ogden - The Junction</option>
      <option value="Salt Lake City - The Gateway">Salt Lake City - The Gateway</option>
      <option value="Sandy - Jordan Commons">Sandy - Jordan Commons</option>    
      <option value="South Jordan - The District">South Jordan - The District</option>
      <option value="West Valley - Valley Fair Mall">West Valley - Valley Fair Mall</option>
    </optgroup>
    <optgroup label="Southern Utah">
      <option value="Cedar City - Fiddler">Cedar City - Fiddler</option>
      <option value="Cedar City - Stadium">Cedar City - Stadium</option>
      <option value="St. George - Main Street">St. George - Main Street</option>
      <option value="St. George - Pineview Stadium">St. George - Pineview Stadium</option>
      <option value="St. George - Sunset Stadium">St. George - Sunset Stadium</option>
      <option value="St. George - Washington Red Cliffs">St. George - Washington Red Cliffs</option>
    </optgroup>
    <optgroup label="Nevada">
      <option value="Mesquite - Stadium">Mesquite - Stadium</option>
    </optgroup>
  </select>

  <ul>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>Longer Movie Titles Won't Wrap After All</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
    <li>
      <a href="movies/the-darjeeling-limited">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>
  </ul>
</div>

<div class="row">

  <!-- Hot Deals -->
  <section class="hot-deals">
    <h4>Hot Deals</h4>
    <ul>
      <li class="event">
        <a href="">
          <span aria-hidden="true" data-icon="&#x2385;"></span>
          <p>
            <b>Star Trek party</b>
            Red carpet viewing at the Legacy Crossing theatres in Centerville, Utah.<br>
            <i>Learn more</i>
          </p>
        </a>
      </li>
      <li class="concession">
        <a href="">
          <span aria-hidden="true" data-icon="&#x26b1;"></span>
          <p>
            <b>Dinner and a movie gift package</b>
            Includes a $30 gift card, two Black Premium passes, and one large popcorn voucher.<br>
            <i>Learn more</i>
          </p>
        </a>
      </li>
      <li class="merchandise">
        <a href="">
          <span aria-hidden="true" data-icon="&#x297e;"></span>
          <p>
            <b>Star Trek Into Darkness RealD 3D Glasses</b>
            Collectible 3-pack that includes Kirk, Spock, and Uhura resealable poly bags.<br>
            <i>Learn more</i>
          </p>
        </a>
      </li>
    </ul>
  </section>

  <!-- What's Up -->
  <section class="whats-up">
    <h4>What's Up</h4>
    <ul>
      <li>
        <a href="">
          <span aria-hidden="true" data-icon="&#x74;"></span>
          Insert a tweet
        </a>
      </li>
      <li>
        <a href="">
          <span aria-hidden="true" data-icon="&#x66;"></span>
          Insert a Facebook post
        </a>
      </li>
      <li>
        <a href="">
          <span aria-hidden="true" data-icon="&#x74;"></span>
          Insert a tweet
        </a>
      </li>
      <li>
        <a href="">
          <span aria-hidden="true" data-icon="&#x74;"></span>
          Insert a tweet
        </a>
      </li>
    </ul>
  </section>

</div>
