<h1>Find movie times</h1>

<div class="reasons">
  <h3>Why Megaplex? <a href="">100% reserved seating</a></h3>
</div>

<div class="movies">

  <select>
    <option value="">Showings for all Megaplex locations</option>
    <optgroup label="Northern Utah">
      <option value="Centerville - Legacy Crossing">Centerville - Legacy Crossing</option>
      <option value="Lehi - Thanksgiving Point">Lehi - Thanksgiving Point</option>
      <option value="Logan - North Main">Logan - North Main</option>
      <option value="Logan - Providence Stadium">Logan - Providence Stadium</option>
      <option value="Logan - University Stadium">Logan - University Stadium</option>
      <option value="Ogden - The Junction">Ogden - The Junction</option>
      <option value="Salt Lake City - The Gateway">Salt Lake City - The Gateway</option>
      <option value="Sandy - Jordan Commons">Sandy - Jordan Commons</option>    
      <option value="South Jordan - The District">South Jordan - The District</option>
      <option value="West Valley - Valley Fair Mall">West Valley - Valley Fair Mall</option>
    </optgroup>
    <optgroup label="Southern Utah">
      <option value="Cedar City - Fiddler">Cedar City - Fiddler</option>
      <option value="Cedar City - Stadium">Cedar City - Stadium</option>
      <option value="St. George - Main Street">St. George - Main Street</option>
      <option value="St. George - Pineview Stadium">St. George - Pineview Stadium</option>
      <option value="St. George - Sunset Stadium">St. George - Sunset Stadium</option>
      <option value="St. George - Washington Red Cliffs">St. George - Washington Red Cliffs</option>
    </optgroup>
    <optgroup label="Nevada">
      <option value="Mesquite - Stadium">Mesquite - Stadium</option>
    </optgroup>
  </select>

  <ul>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>Longer Movie Titles Won't Wrap After All</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

  </ul>
</div>

