<h1>Find movie times</h1>

<div class="movies">
  <ul>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>Longer Movie Titles Won't Wrap After All</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

    <li>
      <a href="">
        <img src="/assets/movies/the-darjeeling-limited.jpg" alt="Movie poster for The Darjeeling Limited" class="poster">
        <span>The Darjeeling Limited</span>
      </a>
    </li>

  </ul>
</div>

