<h1>The Hunger Games: Catching Fire</h1>

<div class="row">

  <section class="movie">

    <div class="poster-container">
      <img src="/assets/movies/large/the-hunger-games-catching-fire.jpg" alt="Movie poster for The Hunger Games: Catching Fire" class="poster">
      <div class="rating">
        <span aria-hidden="true" data-icon="&#x50;"></span>
        <p>Rated PG for action violence and peril, some scary images and suggestive material, and mild language.</p>
      </div>
    </div>

    <div class="description">
      <h3>Synopsis</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <hr>
      <h3>Other Details</h3>
      <dl>
        <dt>Release Date:</dt>
        <dd>May 11, 2013</dd>
        <!-- <dd>November 22, 2013</dd> -->
        <dt>Runtime:</dt>
        <dd>2 hours 10 minutes</dd>
        <dt>Trailer:</dt>
        <dd><a href="">Watch the trailer</a></dd>
      </dl>
      <hr>
      <h3>Share</h3>
      <p class="button-row">
        <a href="" class="button"><span aria-hidden="true" data-icon="&#x74;" class="twitter"></span>Tweet</a> &emsp; <a href="" class="button facebook"><span aria-hidden="true" data-icon="&#x66;" class="facebook"></span>Share</a>
      </p>
    </div>
  </section>

  <section class="showtimes">
    asdfa asd asdf aasdfa asd asdf aasdfa asd asdf aasdfa asd asdf aasdfa asd asdf a.
  </section>

</div>
