a,
a:visited {
  color: #333333;
}

.button,
a.button,
a.button:visited {
  @include border-radius(0.7em);
  @include font-etica-semibold;
  @include transition(background-color 0.15s linear, color 0.15s linear);
  background-color: $color-gold;
  color: darken($color-gold, 28%);
  display: inline-block;
  font-size: 1.3em;
  padding: 0.5em 2em 0.4em 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

  .no-touch .button:hover,
  .no-touch a.button:hover {
    background-color: lighten($color-gold, 15%);
    color: darken($color-gold, 34%);
  }

  .button.pair {
    margin-right: 0.2em;
    padding-right: 1em;
    padding-left: 1em;
  }

  .button.pair + .button.pair {
    margin-left: 0.2em;
    margin-right: 0;
  }

.button-row {
  text-align: center;
}

.button > span {
  margin-right: 0.4em;
}

// Breadcrumbs

.breadcrumbs {
  @include inline-block-list;
  margin-top: -1em;
  padding-bottom: 0.5em;
}

