footer {
  @extend .clear-after;
  @extend .wrapper;
  color: #999999;
  padding-bottom: 2em;
}

  footer > div {
    font-size: 0.95em;
    float: right;
    padding: 1em 2em;
  }

    footer h6 {
      font-size: 1em;
      text-transform: uppercase;
    }

    footer a,
    footer a:visited {
      color: #999999;
      text-decoration: none;
    }

// Locations Block

footer > .locations {
  float: left;
}

  footer > .locations > a > span {
    @include single-transition(color, 0.1s, linear);
    display: block;
    font-size: 4em;
    // background: #333333 image-url("/images/slc.jpg") no-repeat top left;
    display: inline-block;
    float: left;
    line-height: 2.5em;
    text-align: center;
    width: 4em;
  }

  .no-touch footer > .locations > a:hover > span {
    color: #ffffff;
  }
