footer {
  @extend %clear-after;
  color: #999999;
  padding-bottom: 2em;
}

  footer > div {
    font-size: 0.95em;
    float: right;
    padding: 1em 2em;
  }

    footer h6 {
      font-size: 1em;
      text-transform: uppercase;
    }

    footer a,
    footer a:visited {
      color: #999999;
      text-decoration: none;
    }

// Locations Block

footer > .locations {
  float: left;
}

  footer > .locations > a > span {
    background: image-url("slc.jpg") no-repeat bottom center;
      @include image-2x("slc@2x.jpg", 324px, 158px);
    @include single-transition(color, 0.1s, linear);
    color: #e5e5e5;
    display: inline-block;
    float: left;
    font-size: 4.5em;
    line-height: 2.2em;
    text-align: center;
    width: 4.5em;
  }

    .no-touch footer > .locations > a:hover > span {
      color: #ffffff;
    }
