// Mixins - Form-Specific
// ==========================================================================

// Placeholder Styling
@mixin input-placeholder($color) {
  &.placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Form Elements
// ==========================================================================

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="email"]
input[type="password"],,
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
  @include appearance(none);
  @include border-radius(0.4em);
  @include font-source-regular;
  @include transition(border-color 0.3s linear, width 0.1s linear);
  background-color: #ffffff;
  border: 0;
  border: 2px solid $color-base-2;
  color: #333333;
  font-size: 1em;
  height: 2.2em;
  margin: 0;
  outline: 0;
  padding: 0 0.6em;
  word-break: normal;
  &:focus {
    border-color: $color-gold;
  }
}

  // Search

  input[type="search"] {
    @include box-sizing(content-box);
    -webkit-appearance: textfield;
  }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

// Buttons

input[type="button"],
input[type="submit"],
input[type="cancel"] {
  @include border-radius(0);
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  white-space: nowrap;
}

textarea {
  resize: vertical;
}

// Search in Header
// ==========================================================================

input[type="search"] {
  @include appearance(none);
  @include box-sizing(content-box);
  @include font-source-regular;
  font-size: 0.8em;
  width: 12em;
}

// Location Select Box
// ==========================================================================

.select-location > select {
  @include appearance(none);
  @include border-radius(0.6em 0.6em 0 0);
  @include font-etica-regular;
  background: $color-purple image-url("select-arrow.svg") no-repeat center right;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  outline: none;
  margin: 0;
  padding: 0.8em 3em 0.8em 1.2em;
  text-align: left;
}

  .no-svg .select-location > select {
    padding-right: 1.2em;
  }

  .select-location  > select:focus {

  }

// Ticket-Selection Form
// ==========================================================================

.tickets fieldset {
  margin-bottom: 1em;
}

  .tickets .label-large {
    @extend %faux-heading;
    font-size: 1.3em;
  }

.trigger-focus {
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: underline;
}

// When

.tickets-when {
  float: left;
  margin-bottom: 1.2em;
  vertical-align: middle;
  width: 34%;
}

  input[type="text"].calendar {
    @include font-etica-regular;
    @include input-placeholder(#4d4d4d);
    background-color: #bac4c5;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
    // padding: 1em 1em 0.9em 1em;
    text-align: center;
    text-transform: uppercase;
    white-space: pre-line;

    @include border-radius(0);
    font-size: 1.8em;
    padding: 0.5em;
    width: 100%;
  }

    .calendar > i {
      display: block;
      font-size: 1.8em;
      font-style: normal;
      line-height: 0.8em;
    }

    .calendar > em {
      @include font-etica-semibold;
      display: block;
      font-size: 5em;
      line-height: 1.1em;
      margin: 0;
    }

// Where

.tickets-where {
  @extend %clear-after;
  @extend .right;
  float: left;
  margin-bottom: 1.2em;
  vertical-align: middle;
  width: 66%;
}

  .tickets-location {
    color: #e5e5e5;
    cursor: pointer;
    display: block;
    height: 10.3em;
    margin-bottom: 0.2em;
    padding-top: 2.3em;
    text-align: center;
  }

    .tickets-location.ogden-the-junction {
      background: image-url("locations/small/ogden-the-junction.jpg") no-repeat bottom center;
        @include image-2x("locations/small/ogden-the-junction@2x.jpg", 288px, 165px);
    }

    .tickets-location > span {
      background-color: rgba(#000000, 0.5);
      display: block;
      font-size: 1.8em;
      font-style: normal;
      line-height: 1.2em;
      padding: 0.4em;
      text-align: center;
      vertical-align: middle;
      width: 100%;
    }

      .no-rgba .tickets-location > span {
        background-color: #000000;
      }

// Format

.tickets-format {
  border-top: 0.3em dashed $color-base-1;
  clear: both;
  padding: 1.2em 0;
}

// Time

.time {
  border-top: 0.3em dashed $color-base-1;
  padding: 1.2em 0;
}

// Quantity

.tickets-quantity {
  border-top: 0.3em dashed $color-base-1;
  padding: 1.2em 0;
  text-align: center;
}

  .tickets-quantity > .label-large {
    display: inline;
    vertical-align: middle;
  }

// Misc

.tickets-hint {
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: right;
}

  .tickets-hint a,
  .tickets-hint a:visited {

  }

// Select Date on Location-Specific Pages
// ==========================================================================

.picker-container {
  @extend .row;
  margin-top: 1.2em;
}

  .picker-container > label {
    @extend %faux-heading;
    font-size: 1.3em;
    margin-right: 0.3em;
    vertical-align: middle;
  }

