// Mixins - Form-Specific
// ==========================================================================

// Placeholder Styling
@mixin input-placeholder($color) {
  &.placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Reset Form Elements
// ==========================================================================

form {
  margin: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="email"]
input[type="password"],,
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
  @include appearance(none);
  @include border-radius(0);
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0.4em 0;
  word-break: normal;
}

input[type="button"],
input[type="submit"],
input[type="cancel"] {
  @include border-radius(0);
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  white-space: nowrap;
}

textarea {
  resize: vertical;
}

// Search in Header
// ==========================================================================

input[type="search"] {
  @include appearance(none);
  @include border-radius(0.7em);
  @include box-sizing(content-box);
  @include font-source-regular;
  @include transition(border-color 0.3s linear, width 0.1s linear);
  background-color: #ffffff;
  border: 2px solid #e7e7e7;
  font-size: 0.8em;
  height: 2.2em;
  padding: 0;
  width: 12em;
}

  input[type="search"]:focus {
    border-color: $color-gold;
    width: 16em;
  }

// Location Select Box
// ==========================================================================

.select-location {
  @include appearance(none);
  @include border-radius(0.6em 0.6em 0 0);
  @include font-etica-regular;
  background: $color-purple image-url("select-arrow.svg") no-repeat center right;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  // height: 2.8em;
  outline: none;
  margin: 0;
  padding: 0.8em 3em 1.1em 1.2em;
  position: absolute;
    top: -2em;
    right: 0;
}

  .no-svg .select-location {
    padding-right: 1.2em;
  }

  .select-location:focus {

  }
