// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  background: $color-base-1 image-url("texture-noise-1.png") repeat top left;
    @include image-2x("texture-noise-1@2x.png", 100px, 100px);
  height: 100%; // one of these is turning off momentum scrolling in iOS - WTF
  overflow-x: hidden;
}

body {
  height: 100%; // one of these is turning off momentum scrolling in iOS - WTF
  overflow-x: hidden;
  padding: 0 5%;
}

.wrapper {
  @extend %clear-after;
  margin: 0 auto;
  max-width: 82em;
}

.content {
  @extend .wrapper;
  padding: 0 0 2em 0;
}

// Rows & Columns
// ==========================================================================

.row {
  @extend %clear-after;
  margin-bottom: 2em;
}

  .wide {
    @extend %clear-after;
    @include at-least(mama-bear) {
      float: left;
      width: 60%;
    }
  }

  .narrow {
    @include at-least(mama-bear) {
      float: left;
      width: 40%;
    }
  }

  .left {
    @include at-least(mama-bear) {
      padding-right: 3.5%;
    }
  }

  .right {
    @include at-least(mama-bear) {
      padding-left: 3.5%;
    }
  }