header {
  @extend .wrapper;
  padding: 1em 0 2em 0;
  position: relative;
}

  #logo {
    background: image-url("logo.svg") no-repeat top left;
      @include background-size(contain);
    display: block;
    font-size: 10px; // for responsive sizing
    height: 10em;
    margin: 0 auto;
    text-indent: -10000em;
    width: 24em;
    @include at-least(mama-bear) {
      display: inline-block;
      float: left;
    };
  }

    .no-svg #logo {
      background: image-url("no-svg/logo.png") no-repeat top left;
    }

header > div {
  float: right;
  width: 78%;
}

// Tagline / Reasons Ad Blurb
// ==========================================================================

.tagline {
  @include font-etica-regular;
  color: #888888;
  display: inline-block;
  // float: left;
  vertical-align: middle;
}

  .tagline > b {
    @include font-source-semibold;
    color: #333333;
    display: block;
    font-size: 1.2em;
    line-height: 1.3em;
  }

    .tagline a,
    .tagline a:visited {
      color: #888888;
    }

// Login / Search Utilities
// ==========================================================================

.utilities {
  position: absolute;
    top: 0.5em;
    right: 0;
  text-align: right;
}

  .utilities > p {
    float: left;
    margin-bottom: 0;
    padding: 0.25em 0.8em 0 0;
  }

  .utilities > form {
    float: right;
  }

    .clarify-field {
      clear: both;
      display: block;
      // float: right;
      font-size: 0.75em;
      margin-top: 0.3em;
    }
