header {
  @extend .wrapper;
  padding: 0.6em 0 2em 0;
  position: relative;
  @include at-least(40em) {
    padding-top: 3em;
  }
  @include at-least(mama-bear) {
    padding-top: 1em;
  }
}

  #logo {
    background: image-url("logo.svg") no-repeat top left;
      @include background-size(contain);
    display: block;
    font-size: 8px; // for responsive sizing
    height: 10em;
    margin: 0 auto 2em auto;
    text-indent: -10000em;
    width: 24em;
    @include at-least(40em) {
      display: inline-block;
      float: left;
      margin: 0 0 3em 0;
    }
    @include at-least(mama-bear) {
      font-size: 10px;
      margin-bottom: 2em;
    };
  }

    .no-svg #logo {
      background: image-url("no-svg/logo.png") no-repeat top left;
    }

header > div {
  text-align: center;
}

// Tagline / Reasons Ad Blurbs
// ==========================================================================

.publicity {
  color: #888888;
  display: inline-block;
  float: left;
  line-height: 1.3em;
  text-align: left;
  vertical-align: middle;
  @include at-least(40em) {
    display: block;
    float: right;
    margin-top: 1.5em;
    text-align: right;
  }
  @include at-least(mama-bear) {
    font-size: 1.1em;
    margin-top: 2.5em;
  }
  @include at-least(papa-bear) {
    float: right;
    margin: 0 0 1em 0;
    text-align: left;
    width: 77%;
  }
}

  .tagline {
    @include font-source-semibold;
    color: #333333;
    display: block;
  }

    .tagline > em {
      display: block;
      @include at-least(40em) {
        display: inline;
      }
    }

  .why {
    display: none;
    @include at-least(40em) {
      display: block;
    }
  }

    .why a,
    .why a:visited {
      color: #888888;
    }

// Login / Search Utilities
// ==========================================================================

.utilities {
  float: right;
  @include at-least(40em) {
    float: none;
    padding: 0.5em 0 0 0;
    position: absolute;
      top: 0;
      right: 0;
      left: 0;
    text-align: left;
  }
  @include at-least(mama-bear) {
    left: auto;
    text-align: right;
  }
}

  .utilities > p {
    display: none;
    @include at-least(40em) {
      display: block;
      float: left;
      padding-top: 0.25em;
    }
    @include at-least(mama-bear) {
      padding-right: 0.8em;
    }
  }

  .utilities > form {
    @include at-least(40em) {
      float: right;
    }
  }

    .utilities > form > label {
      @extend .button-icon;
      @include border-radius(0 0.4em 0.4em 0);
      margin-left: 1px;
      @include at-least(40em) {
        @include border-radius(0.4em);
      }
    }

    .utilities > form > input[type="search"] {
      display: none;
    }

    // .clarify-field {
    //   clear: both;
    //   display: block;
    //   font-size: 0.75em;
    //   margin-top: 0.3em;
    // }
