a,
a:visited {
  color: #333333;
}

// Breadcrumbs

.breadcrumbs {
  @include inline-block-list;
  font-size: 0.8em;
  padding-bottom: 0.5em;
  text-align: center;
  @include at-least(40em) {
    font-size: 1em;
    text-align: left;
  }
}

  .breadcrumbs > li {
    padding-right: 0.3em;
  }

    .breadcrumbs > li > a {
      padding-right: 0.3em;
    }

    .breadcrumbs a:visited {
      color: $color-purple;
    }

