a,
a:visited {
  color: #333333;
}

// Breadcrumbs

.breadcrumbs {
  @include inline-block-list;
  padding-bottom: 0.5em;
}

  .breadcrumbs > li {
    padding-right: 0.3em;
  }

    .breadcrumbs > li > a {
      padding-right: 0.3em;
    }

    .breadcrumbs a:visited {
      color: $color-purple;
    }

