// Location Select Above Movies Box
// ==========================================================================

.select-location {
  @extend %clear-after;
  margin-top: -3em;
  text-align: right;
}

  .select-location > label {
    margin-right: 0.5em;
  }

// Movies - Grid View (Default)
// ==========================================================================

.movies {
  @extend %clear-after;
  @include border-radius(0.8em);
  @include font-source-light;
  background-color: $color-purple;
  color: #ffffff;
  margin: 0 0 4em 0;
  padding: 1.5em 1em;
  position: relative;
  text-align: center;
}

  .movies > ul {
    font-size: 0.8em;
    list-style-type: none;
  }

    .movies > ul > li {
      display: inline-block;
      margin: 0 0.25%;
      padding: 0.8em 0.8%;
      width: 15.5%;
    }

      .movies a,
      .movies a:visited {
        color: #ffffff;
        text-decoration: none;
      }

        .movies > ul > li > a > img {
          // @include box-shadow(0 0 0.2em rgba(#000000, 0.5));
          // border: 1px solid #000000;
        }

        .movies > ul > li > a > span {
          @include font-source-semibold;
          @include single-transition(background-color, 0.2s, linear);
          background-color: rgba(#e7e7e7, 0.9);
          color: $color-purple;
          display: block;
          overflow: hidden;
          padding: 0.6em 0.8em 0.5em 0.8em;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

          .no-rgba .movies > ul > li > a > span {
            background-color: #e7e7e7;
          }

          .no-touch .movies > ul > li > a:hover > span {
            background-color: lighten($color-purple, 46%);
          }

// Movies - List View
// ==========================================================================

.movies.list {
  background-color: transparent;
}

  .movies.list > ul {

  }

    .movies.list > ul > li {
      display: block;
      text-align: left;
      width: auto;
    }

// Movies - Homepage-Specific Styling
// ==========================================================================

.select-location + .movies {
  @include border-radius(0.8em 0 0.8em 0.8em);
  background: image-url("locations/blurry/ogden-the-junction.jpg") no-repeat bottom center;
    @include background-size(cover);
  // border-top: 0.7em solid $color-purple;
}

// Movies with Times
// ==========================================================================

.movies-times {

}

// Hot Deals (Promo List on Homepage)
// ==========================================================================

.hot-deals {
  @extend .wide;
  @extend .left;
  border-right: 4px solid #dddddd;
}

// What's Up (Social Media Posts on Homepage)
// ==========================================================================

.whats-up {
  @extend .narrow;
  @extend .right;
  border-left: 4px solid #dddddd;
  margin-left: -4px;
}

// Individual Movie Page - Left Content Area
// ==========================================================================

.movie {
  @extend .wide;
  @extend .left;  
}

  .poster-container {
    display: block;
    float: left;
    width: 45%;
  }

    .poster {
      margin-bottom: 0.8em;
    }

  .rating {
    display: block;
    margin-bottom: 2em;
    padding: 0 0.5em;
  }

    .rating > span {
      display: table-cell;
      font-size: 2em;
      height: 100%;
      line-height: 0;
      padding-right: 0.4em;
      vertical-align: middle;
    }

    .rating > p {
      display: table-cell;
      font-size: 0.8em;
      height: 100%;
      line-height: 1.3em;
      vertical-align: middle;
    }

  .movie > .description {
    float: left;
    padding-left: 1.5em;
    width: 55%;
  }

    .movie > .description > .button-row {
      margin-bottom: 2em;
      text-align: left;
    }

// Individual Movie Page - Right Sidebar
// ==========================================================================

.tickets {
  @extend .narrow;
  @extend .right;
  padding: 5em 0;
  position: relative;
}

  .tickets:before,
  .tickets:after {
    content: "";
    display: inline-block;
    height: 5em;
    position: absolute;
      right: 0;
      left: 0;
    z-index: -1;
  }

    .tickets:before {
      background: image-url("ticket-edges.svg") no-repeat;
        @include background-size(cover);
      background-position: top right;
      top: 0;
    }

    .tickets:after {
      background: image-url("ticket-edges.svg") no-repeat;
        @include background-size(cover);
      background-position: bottom right;
      bottom: 0;
    }

  .tickets > div {
    background-color: #dddddd;
    min-height: 40em;
    padding: 1em 2em;
  }

    .tickets > div > h3 {
      padding-top: 0.5em;
      position: absolute;
        top: 0;
        right: 0;
        left: 0;
      text-align: center;
      width: 100%;
    }

// Ads
// ==========================================================================

.ad {
  background-color: #dddddd;
  clear: both;
  margin-top: 2em;
  padding: 1.5em 2em;
}

// Individual Location Page - Left Content Area
// ==========================================================================

.location {
  @extend .wide;
  @extend .left;
}

// Individual Location Page - Right Sidebar
// ==========================================================================

.address {

}

.phone {

}


  .address > span,
  .phone > span {
    float: left;
    font-size: 4em;
  }

// Horizontal Rules
// ==========================================================================

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

  .filmstrip {
    @include font-etica-regular;
    background: #dddddd image-url("texture-noise-2.png") repeat top left;
      @include image-2x("texture-noise-2@2x.png", 100px, 100px);
    border-top: 0.7em solid #dddddd;
    border-bottom: 0.7em solid #dddddd;
    font-size: 16px; // For responsive sizing
    margin: 0 -5.6% 2em -5.6%;
    line-height: 3em;
  }

    .filmstrip > hr {
      border-top: 0.2em dashed $color-background;
      height: 0.1em;
      margin: 0;
    }

// Date Picker
// ==========================================================================

// .picker__holder {

// }

// .picker__holder *,
// .picker__holder *:before,
// .picker__holder *:after {
//   @extend %default-box-model;
//   & img {max-width: none;}
// }


// .picker *,
// .picker *:before,
// .picker *:after {
//   @extend %default-box-model;
//   & img {max-width: none;}
// }

// .picker {

// }

// Google Maps
// ==========================================================================

.map *,
.map *:before,
.map *:after {
  @extend %default-box-model;
  & img {max-width: none;}
}

// Ancient Browser Alert
// ==========================================================================

.ancient {
  background: #666666;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 1000000;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}