// Location Select Above Movies Box
// ==========================================================================

.select-location {
  @extend %clear-after;
  text-align: right;
  @include at-least(mama-bear) {
    margin-top: -2.8em;
  }
}

  .select-location > label {
    @extend .screen-reader;
    margin-right: 0.5em;
    @include at-least(55em) {
      position: static;
    }
  }

  .select-location > select {
    display: block;
    font-size: 0.8em; // Smaller than 16px font makes iOS zoom in when activating the select box :(
    margin: 0 auto;
    max-width: 80%;
    @include at-least(40em) {
      display: inline;
      font-size: 0.9em;
      margin: 0;
      max-width: none;
    }
    @include at-least(mama-bear) {
      font-size: 1em;
    }
  }

// Movies - Grid View (Default)
// ==========================================================================

.movies {
  @extend %clear-after;
  @include border-radius(0.8em);
  @include font-source-light;
  background-color: $color-purple;
  color: #ffffff;
  margin: 0 0 3em 0;
  padding: 1.5em 1em;
  position: relative;
  text-align: center;
  @include at-least(mama-bear) {
    margin-bottom: 4em;
  }
}

  .movies > ul {
    font-size: 0.8em;
    list-style-type: none;
    margin-bottom: 0;
  }

    .movies > ul > li {
      display: inline-block;
      margin: 0 0.25%;
      padding: 0.8em 0.4em;
      width: 48%;
      @include at-least(goldilocks) {
        width: 30%;
      }
      @include at-least(mama-bear) {
        width: 24%;
      }
      @include at-least(64em) {
        width: 15.7%;
      }
    }

      .movies a,
      .movies a:visited {
        color: #ffffff;
        text-decoration: none;
      }

        .movies > ul > li > a > img {

        }

        .movies > ul > li > a > span {
          @include font-source-semibold;
          @include single-transition(background-color, 0.2s, linear);
          background-color: rgba(#e7e7e7, 0.9);
          color: #333333;
          display: block;
          overflow: hidden;
          padding: 0.6em 0.8em 0.5em 0.8em;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

          .no-rgba .movies > ul > li > a > span {
            background-color: #e7e7e7;
          }

          .no-touch .movies > ul > li > a:hover > span {
            background-color: lighten($color-purple, 46%);
          }

// Movies - List View
// ==========================================================================

.movies.list {
  background-color: transparent;
}

  .movies.list > ul {

  }

    .movies.list > ul > li {
      display: block;
      text-align: left;
      width: auto;
    }

// Movies - Homepage-Specific Styling
// ==========================================================================

.select-location + .movies {
  @include border-radius(0.8em);
  @include at-least(40em) {
    @include border-top-right-radius(0);    
  }
}

// Movies with Times
// ==========================================================================

.movie-times {

}

  .movie-times-item {
    @extend %clear-after;
    margin-bottom: 2em;
    text-align: center;
    @include at-least(goldilocks) {
      float: left;
      text-align: left;
      width: 50%;
    }
  }

    .movie-times-item:nth-child(2n+1) {
      @include at-least(goldilocks) {
        clear: both;
        padding-right: 0.7em;
      }
    }

    .movie-times-item:nth-child(2n+2) {
      @include at-least(goldilocks) {
        padding-left: 0.7em;
      }
    }

    .movie-times-poster {
      display: inline-block;
      margin-bottom: 1em;
      @include at-least(papa-bear) {
        float: left;
        margin-right: 1em;
        width: 30%;
      }
    }

    .movie-times-info {
      // float: left;
      // width: 50%;
    }

      .movie-times-info > a,
      .movie-times-info > a:visited {
        @extend %faux-heading;
        @include at-least(goldilocks) {
          text-align: left;
        }
      }

      .movie-times-info > .rating {
        font-size: 2em;
      }

// Hot Deals (Promo List on Homepage)
// ==========================================================================

.hot-deals {
  @extend .wide;
  @extend .left;
  border-bottom: 4px solid $color-base-2;
  margin-bottom: 1.6em;
  padding-bottom: 2em;
  @include at-least(mama-bear) {
    border-right: 4px solid $color-base-2;
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

// What's Up (Social Media Posts on Homepage)
// ==========================================================================

.whats-up {
  @extend .narrow;
  @extend .right;
  @include at-least(mama-bear) {
    border-left: 4px solid $color-base-2;
    margin-left: -4px;
  }
}

// Individual Movie Page - Left Content Area
// ==========================================================================

.movie {
  @extend .wide;
  @extend .left;  
}

  .poster-container {
    display: block;
    @include at-least(mama-bear) {
      float: left;
      width: 45%;
    }
  }

    .poster {
      display: block;
      margin: 0 auto 0.8em auto;
      max-width: 15em;
      @include at-least(mama-bear) {
        max-width: 100%;
      }
    }

  .rating-container {
    display: block;
    margin-bottom: 1em;
  }

    .rating-container > span {
      display: table-cell;
      font-size: 2em;
      height: 100%;
      line-height: 0;
      padding-right: 0.4em;
      vertical-align: middle;
    }

    .rating-container > p {
      display: table-cell;
      font-size: 0.8em;
      height: 100%;
      line-height: 1.3em;
      margin-bottom: 0;
      vertical-align: middle;
    }

  .movie > .description {
    @include at-least(mama-bear) {
      float: left;
      padding-left: 1.5em;
      width: 55%;
    }
  }

    .movie > .description > .button-row {
      margin-bottom: 2em;
      @include at-least(40em) {
        text-align: left;
      }
    }

// Individual Movie Page - Right Sidebar
// ==========================================================================

.tickets {
  @extend .narrow;
  @extend .right;
  background-color: $color-base-2;
  position: relative;
  @include at-least(mama-bear) {
    background-color: transparent;
    padding: 5em 0;
  }
}

  .tickets:before,
  .tickets:after {
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 5em;
    position: absolute;
      right: 0;
      left: 0;
    z-index: -1;
  }

    .tickets:before {
      background-image: image-url("ticket-edges.svg");
        @include background-size(cover);
      background-position: top right;
      top: 0;
    }

    .tickets:after {
      background-image: image-url("ticket-edges.svg");
        @include background-size(cover);
      background-position: bottom right;
      bottom: 0;
    }

  .tickets > div {
    background-color: $color-base-2;
    min-height: 40em;
    padding: 1em 1.5em;
    @include at-least(mama-bear) {
      padding-right: 2em;
      padding-left: 2em;
    }
  }

    .tickets > div > h3 {
      margin-bottom: 1em;
      padding-top: 0.5em;
      @include at-least(mama-bear) {
        position: absolute;
          top: 0;
          right: 0;
          left: 0;
        text-align: center;
        width: 100%;
      }
    }

// Ads
// ==========================================================================

.ad {
  background-color: $color-base-2;
  clear: both;
  color: #666666;
  margin-bottom: 1em;
  padding: 1.5em 1.5em 1.3em 1.5em;
  text-align: center;
  @include at-least(mama-bear) {
    text-align: left;
  }
}

// Individual Location Page - Left Content Area
// ==========================================================================

.hero {
  @extend %clear-after;
  background-color: $color-base-2;
  margin-bottom: 2em;
  position: relative;
}

  .hero > img {
    @include at-least(mama-bear) {
      display: block;
      margin: 0 auto;
    }
    @include at-least(papa-bear) {
      margin: 0;
    }
  }

  .hero .icon-list {
    margin-bottom: 0;
    @include at-least(papa-bear) {
      background-color: $color-base-2;
      max-width: 44%;
      padding: 0 0.5em 0 0.3em;
      position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }
  }

    .hero .icon-list .icon-list-item {
      @include at-least(goldilocks) {
        float: left;
        width: 50%;
      }
      @include at-least(papa-bear) {
        float: none;
        width: auto;
      }
    }

      .hero .icon-list span {
        @include at-least(goldilocks) {
          display: block;
          text-align: center;
        }
        @include at-least(papa-bear) {
          display: table-cell;
          font-size: 3.2em;
          text-align: left;
        }
      }

      .hero .icon-list .icon-list-content {
        display: block;
        text-align: center;
        @include at-least(goldilocks) {
          padding-left: 0;
        }
        @include at-least(papa-bear) {
          display: table-cell;
          padding-left: 1em;
          text-align: left;
        }
      }

        .hero .icon-list .icon-list-content dl {
          text-align: center;
          @include at-least(papa-bear) {
            text-align: left;
          }
        }

// Horizontal Rules
// ==========================================================================

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

  .filmstrip {
    background: image-url("filmstrip.svg") repeat-x top left;
    border-top: none;
    height: 7.5em;
    margin: 0 -5.6% 0 -5.6%;
    position: relative;
  }

// Google Maps
// ==========================================================================

.map *,
.map *:before,
.map *:after {
  @extend %default-box-model;
  & img {max-width: none;}
}

// Ancient Browser Alert
// ==========================================================================

.ancient {
  background: #666666;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 1000000;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}