nav {
  @extend .wrapper;
  margin-bottom: 1.4em;
  text-align: right;
  width: 100%;
  z-index: 1;
  @include at-least(papa-bear) {
    float: right;
    width: 77%;
  }
}

  nav > ul {
    @include inline-block-list;
    background-color: $color-base-3;
    float: right;
    font-size: 1.1em;
    overflow: visible;
    padding: 0 1%;
    width: 100%;
  }

    nav > ul > li {
      @include inline-block-list-item;
      color: #ffffff;
      display: block;
      float: left;
      letter-spacing: 1px;
      position: relative;
      text-transform: uppercase;
      width: 14.28571428571429%;
    }

      nav a,
      nav a:visited {
        @include single-transition(background, 0.1s, linear);
        color: #ffffff;
        display: block;
        padding: 0.4em 0 0.3em 0;
        text-align: center;
        text-decoration: none;
        width: 100%;
      }

        .no-touch nav a:hover {
          background-color: lighten($color-purple, 15%);
          color: $color-base-1;
        }

        nav a.active {
          background-color: $color-purple;
        }

// Sub Nav
// ==========================================================================

.nav-sub {
  background-color: $color-base-3;
  border-top: 0.5em solid $color-gold;
  border-bottom: 0.5em solid $color-gold;
  display: none;
  padding: 1.3em 1em 0 1em;
  position: absolute;
    top: 100%;
    left: 0;
  text-align: left;
  z-index: 1;
}

  .nav-sub > ul {
    margin-bottom: 1.3em;
  }

    .nav-sub > ul > li {
      @include font-source-light;
      display: block;
      padding: 0;
      text-transform: none;
    }

    .nav-sub a,
    .nav-sub a:visited {
      padding: 0 0.5em;
      text-align: left;
    }

      .no-touch .nav-sub a:hover {
        
      }

// Show on Hover

nav > ul > li:hover > .nav-sub {
  display: block;
}
