// @font-face
// ==========================================================================

// Through Typekit

// Font Stacks & Global Font
// ==========================================================================

// For Body
@mixin font-source-light {font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 300;}
@mixin font-source-regular {font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 400;}
@mixin font-source-semibold {font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 600;}

// For Headings
@mixin font-etica-regular {font-family: "lft-etica", sans-serif; font-style: normal; font-weight: 400;}
@mixin font-etica-semibold {font-family: "lft-etica", sans-serif; font-style: normal; font-weight: 600;}

body {
  @include font-source-regular;
  @include rotate3d(0, 0, 0, 0); // Fixes the shifting font-weight during CSS transitions
  color: #333333;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased; // Fixes the inconsistent font-weight in Safari
}

// Icon Font
// ==========================================================================

@include font-face("Icomoon",
  font-files(
    "Icomoon.ttf",
    "Icomoon.woff",
    "Icomoon.svg"
  ),
  "Icomoon.eot"
);

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Icomoon';
  content: attr(data-icon);
  speak: none;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6, %faux-heading {
  @include font-etica-regular;
  color: $color-purple;
  display: block;
  letter-spacing: 1px;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  text-align: center;
  text-transform: uppercase;
  @include at-least(40em) {
    text-align: left;
  }
  > span {
    display: block;
    @include at-least(40em) {
      display: inline;
    }
  }
}

  h1, h2 {
    font-size: 1.5em;
    @include at-least(40em) {
      font-size: 1.8em;
    }
    @include at-least(papa-bear) {
      font-size: 2.2em;
    }
  }

  h3 {
    font-size: 1.3em;
    @include at-least(40em) {
      font-size: 1.5em;
    }
  }

  h4, h5, h6, %faux-heading {
    font-size: 1.1em;
    @include at-least(40em) {
      font-size: 1.3em;
    }
  }

// Misc
// ==========================================================================

p {
  margin-bottom: 0.8em;
}

ul, ol {
  margin-bottom: 0.8em;
}

blockquote {

}

dl {
  @extend %clear-after;
  text-align: center;
  @include at-least(goldilocks) {
    text-align: left;
  }
  @include at-least(papa-bear) {
    margin-bottom: 0.8em;
  }
}

  dl > dt {
    @include font-source-semibold;
    @include at-least(papa-bear) {
      display: inline;
      float: left;
      width: 50%;
    }
  }

  dl > dd {
    @include at-least(papa-bear) {
      display: inline;
      float: left;
      text-align: right;
      width: 50%;
    }
  }

// Icon Lists
// ==========================================================================

.icon-list {
  clear: both;
  list-style-type: none;
  margin-bottom: 1em;
  @include at-least(goldilocks) {
    font-size: 1.2em;
  }
  @include at-least(mama-bear) {
    font-size: 1em;
  }
  @include at-least(papa-bear) {
    font-size: 1.2em;
  }
}

  .icon-list > li {
    position: relative;
  }

    .icon-list .icon-list-item {
      @include border-radius(0.8em);
      @include single-transition(background, 0.3s, linear);
      display: block;
      padding: 0.5em;
      text-decoration: none;
      @include at-least(goldilocks) {
        padding: 1.2em 1em;
      }
    }

      .no-touch .icon-list > li > a:hover {
        background-color: #e5e5e5;
      }

// Icon

.icon-list span {
  @include single-transition(color, 0.3s, linear);
  color: $color-purple;
  display: table-cell;
  font-size: 1.5em;
  height: 100%;
  line-height: 0;
  padding: 0.1em;
  vertical-align: middle;
  @include at-least(papa-bear) {
    font-size: 1.8em;
  }
}

  .icon-list span.twitter {
    color: $color-twitter;
  }

  .icon-list span.facebook {
    color: $color-facebook;
  }

// Title & Description

.icon-list .icon-list-content {
  display: table-cell;
  height: 100%;
  margin: 0;
  padding-left: 1em;
  vertical-align: middle;
}

  .icon-list b {
    @include single-transition(color, 0.2s, linear);
    @include font-source-semibold;
    color: $color-purple;
    display: block;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 0.1em;
  }

    .no-touch .icon-list > li > a:hover b {
      color: lighten($color-purple, 10%);
    }

  .icon-list .icon-list-cta {
    @include font-source-semibold;
    font-style: normal;
    text-decoration: underline;
  }

// Large Style

.icon-list.large {
  text-align: center;
  @include at-least(goldilocks) {
    text-align: left;
  }
  @include at-least(mama-bear) {
    font-size: 1.2em;
  }
  @include at-least(papa-bear) {
    font-size: 1.4em;
  }
}

  .icon-list.large span {
    display: block;
    font-size: 3.2em;
    margin-bottom: 0.1em;
    @include at-least(goldilocks) {
      display: table-cell;
      margin-bottom: 0;
    }
    @include at-least(mama-bear) {
      font-size: 4em;
    }
    @include at-least(papa-bear) {
      margin-bottom: 0;
    }
  }

    .no-touch .icon-list.large > li > a:hover span {
      color: lighten($color-purple, 10%);
    }

  .icon-list.large .icon-list-content {
    display: block;
    padding-left: 0;
    @include at-least(goldilocks) {
      display: table-cell;
      padding-left: 1em;
    }
  }

// Boxy Style Lists (Format/Time Sections)
// ==========================================================================

.boxy-list {
  margin-top: 1em;
  margin-bottom: 0;
}

  .boxy-list-item {
    @include border-radius(0.4em);
    @include single-transition(all, 0.1s, linear);
    background-color: #ffffff;
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
    padding: 0.3em 0.5em 0.2em 0.5em;
    @include at-least(mama-bear) {
      font-size: 1.2em;
    }
  }

    .tickets .boxy-list-item {
      background-color: $color-base-1;
    }

// With Radio Buttons

.boxy-list > input[type="radio"] {
  @extend .screen-reader;
}

label.boxy-list-item {
  cursor: pointer;
}

  // Hover

  .no-touch label.boxy-list-item:hover {
    @include border-radius(0.7em);
    background-color: #ffffff;
  }

  // Selected

  .boxy-list > input[type="radio"]:checked + label {
    @include user-select(none);
    background-color: $color-purple;
    color: #ffffff;
  }

  // Selected Hover

  .no-touch label.boxy-list-item.selected:hover {
    @include border-radius(0.4em);
    background-color: $color-purple;
    color: #ffffff;
    cursor: default;
  }
