// @font-face
// ==========================================================================

// Through Typekit

// Font Stacks & Global Font
// ==========================================================================

// For Body
@mixin font-source-light {font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 300;}
@mixin font-source-regular {font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 400;}
@mixin font-source-semibold {font-family: "source-sans-pro", sans-serif; font-style: normal; font-weight: 600;}

// For Headings
@mixin font-etica-regular {font-family: "lft-etica", sans-serif; font-style: normal; font-weight: 400;}
@mixin font-etica-semibold {font-family: "lft-etica", sans-serif; font-style: normal; font-weight: 600;}

body {
  @include font-source-regular;
  @include rotate3d(0, 0, 0, 0); // Fixes the shifting font-weight during CSS transitions
  color: #333333;
  font-size: 1em;
  line-height: 1.5;
  -webkit-font-smoothing: subpixel-antialiased; // Fixes the inconsistent font-weight in Safari
}

// Icon Font
// ==========================================================================

@include font-face("Icomoon",
  font-files(
    "Icomoon.ttf",
    "Icomoon.woff",
    "Icomoon.svg"
  ),
  "Icomoon.eot"
);

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Icomoon';
  content: attr(data-icon);
  speak: none;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

// Headings
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
  @include font-etica-regular;
  color: $color-purple;
  letter-spacing: 1px;
  line-height: 1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

  h1, h2 {
    font-size: 2.2em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4, h5, h6 {
    font-size: 1.3em;
  }

// Misc
// ==========================================================================

p {
  margin-bottom: 0.8em;
}

ul, ol {
  margin-bottom: 0.8em;
}

blockquote {

}

dl {
  @extend %clear-after;
  margin-bottom: 0.8em;
}

  dl > dt {
    @include font-source-semibold;
    display: inline;
    float: left;
    width: 50%;
  }

  dl > dd {
    display: inline;
    float: left;
    text-align: right;
    width: 50%;
  }

// Lists for Format & Time Sections (Radio or Simple List)
// ==========================================================================

.boxy-list {
  margin-top: 1em;
}

  .boxy-list-item {
    @include border-radius(0.4em);
    @include single-transition(all, 0.1s, linear);
    background-color: $color-background;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    margin: 0 0.5em 0.5em 0;
    padding: 0.3em 0.5em 0.2em 0.5em;
  }

    .boxy-list > input[type="radio"] {
      display: none;
    }

    .boxy-list > input[type="radio"]:checked + label {
      @include user-select(none);
      background-color: $color-purple;
      color: #ffffff;
    }

    .no-touch .boxy-list-item:hover {
      @include border-radius(0.7em);
      background-color: #ffffff;
    }

      .no-touch .boxy-list-item.selected:hover {
        @include border-radius(0.4em);
        background-color: $color-purple;
        color: #ffffff;
        cursor: default;
      }

