footer {
  @extend .clear-after;
  color: #999999;
  padding-bottom: 2em;
}

  footer > div {
    font-size: 0.8em;
  }

  footer h6 {
    font-size: 1em;
    text-transform: uppercase;
  }

  footer a,
  footer a:visited {
    color: #999999;
    text-decoration: none;
  }

  .footer-map {
    float: left;
  }

  .footer-links {
    float: right;
    padding: 0 2em;
  }