// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  background-color: #f6f8f8;
  height: 100%;
}

body {
  height: 100%;
}

.wrapper {
  @extend .clear-after;
  margin: 0 auto;
  max-width: 82em;
}

.content {
  @extend .wrapper;
}
