// Apply box-sizing: border-box to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw
*,
*:after,
*:before {
  @include box-sizing(border-box);
}

html {
  background-color: #f6f8f8;
  // background: #f6f8f8 url("/assets/texture-noise.png") repeat top left;
  height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
  padding: 0 5%;
}

.wrapper {
  @extend .clear-after;
  margin: 0 auto;
  max-width: 82em;
}

.content {
  @extend .wrapper;
}

// Rows & Columns
// ==========================================================================

.row {
  @extend .clear-after;
  margin-bottom: 4em;
}

  .wide {
    @extend .clear-after;
    float: left;
    padding-right: 3em;
    width: 57%;
  }

  .narrow {
    float: left;
    padding-left: 3em;
    width: 43%;
  }