// Movies Box
// ==========================================================================

.movies {
  @extend .clear-after;
  @include border-radius(0.8em 0 0.8em 0.8em);
  @include font-source-light;
  background-color: $color-purple;
  color: #ffffff;
  margin-bottom: 4em;
  padding: 1.5em 1em;
  position: relative;
  text-align: center;
}

  .movies > ul {
    font-size: 0.8em;
    list-style-type: none;
  }

    .movies > ul > li {
      display: inline-block;
      margin: 0 0.25%;
      padding: 0.8em 0.8%;
      width: 15.5%;
    }

      .movies a,
      .movies a:visited {
        @include single-transition(color, 0.3s, linear);
        color: #ffffff;
        text-decoration: none;
      }

        .no-touch .movies a:hover {
          color: $color-gold;
        }

        .poster {
          // @extend .default-box-model;
          @include single-transition(border-color, 0.3s, linear);
          border: 0.3em solid #996ab1;
          display: block;
          // max-width: 98%
          // width: 140px;
        }

          .no-touch .movies a:hover .poster {
            border-color: $color-gold;
          }

        .movies > ul > li > a > span {
          display: block;
          margin-top: 0.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

// Select Location
// ==========================================================================

.select-location {
  @include appearance(none);
  @include border-radius(0.6em 0.6em 0 0);
  @include font-etica-regular;
  background: $color-purple url('/assets/select-arrow.svg') no-repeat center right;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  font-size: 1em;
  height: 2.8em;
  outline: none;
  margin: 0;
  padding: 0.6em 3em 0.6em 1.2em;
  position: absolute;
    top: -2.8em;
    right: 0;
}

  .no-svg .select-location {
    padding-right: 1.2em;
  }

  .select-location:focus {

  }

// Horizontal Rules
// ==========================================================================

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

  .filmstrip {
    background-color: #e7e7e7;
    border-top: 0.5em solid #e7e7e7;
    border-bottom: 0.5em solid #e7e7e7;
    margin: 0 -5.6% 2em -5.6%;
  }

    .filmstrip > hr {
      border-top: 0.2em dashed #ffffff;
      border-bottom: 0.2em dashed #ffffff;
      height: 0.3em;
      margin: 0;
    }

// Google Maps
// ==========================================================================

.map *,
.map *:before,
.map *:after {
  @extend .default-box-model;
  & img {max-width: none;}
}

// Ancient Browser Alert
// ==========================================================================

.ancient {
  background: #666666;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 1000000;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}