// Movies Box
// ==========================================================================

.movies {
  @extend .clear-after;
  @include border-radius(0.8em 0 0.8em 0.8em);
  @include font-source-light;
  background-color: $color-purple;
  color: #ffffff;
  margin: -0.6em 0 4em 0;
  padding: 2em 1em 1.5em 1em;
  position: relative;
  text-align: center;
}

  .movies > ul {
    font-size: 0.8em;
    list-style-type: none;
  }

    .movies > ul > li {
      display: inline-block;
      margin: 0 0.25%;
      padding: 0.8em 0.8%;
      width: 15.5%;
    }

      .movies a,
      .movies a:visited {
        color: #ffffff;
        text-decoration: none;
      }

        .poster-thumb {
          @include single-transition(border-color, 0.2s, linear);
          border: 0.3em solid lighten($color-purple, 22%);
          display: block;
        }

          .no-touch .movies a:hover .poster-thumb {
            border-color: lighten($color-purple, 46%);
          }

        .movies > ul > li > a > span {
          display: block;
          margin-top: 0.4em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

// Latest Section on Homepage (container for Hot Deals & What's Up)
// ==========================================================================

.latest {
  list-style-type: none;
  margin-bottom: 1em;
} 

  .latest > li {
    position: relative;
  }

    .latest > li > .latest-item {
      @include border-radius(0.8em);
      @include single-transition(background, 0.3s, linear);
      display: block;
      padding: 1.2em 1em;
      text-decoration: none;
    }

      .no-touch .latest > li > a:hover {
        background-color: #ededed;
      }

// Icon

.latest span {
  @include single-transition(color, 0.3s, linear);
  display: table-cell;
  font-size: 2em;
  height: 100%;
  line-height: 0;
  padding: 0.1em;
  vertical-align: middle;
}

// Title & Description

.latest p {
  display: table-cell;
  height: 100%;
  padding-left: 1em;
  vertical-align: middle;
}

  .latest b {
    @include single-transition(color, 0.2s, linear);
    @include font-source-semibold;
    color: $color-purple;
    display: block;
    font-size: 1.1em;
    line-height: 1.2em;
    margin-bottom: 0.1em;
  }

    .no-touch .latest > li > a:hover b {
      color: lighten($color-purple, 10%);
    }

  .latest i {
    @include font-source-semibold;
    font-style: normal;
    text-decoration: underline;
  }

// Hot Deals (Promo List on Homepage)
// ==========================================================================

.hot-deals {
  @extend .wide;
  @extend .left;
  border-right: 4px solid #e7e7e7;
}

  .latest.deals {
    font-size: 1.4em;
  }

    .latest.deals span {
      color: $color-purple;
      font-size: 4em;
    }

      .no-touch .latest.deals > li > a:hover span {
        color: lighten($color-purple, 10%);
      }

// What's Up (Social Media Posts on Homepage)
// ==========================================================================

.whats-up {
  @extend .narrow;
  @extend .right;
  border-left: 4px solid #e7e7e7;
  margin-left: -4px;
}

  .latest.social {
    font-size: 1.2em;
  }

    .latest.social span {
      font-size: 1.8em;
    }

      .latest.social span.twitter {
        color: $color-twitter;
      }

        // .no-touch .latest.social > li > a:hover span.twitter {
        //   color: lighten($color-twitter, 10%);
        // }

      .latest.social span.facebook {
        color: $color-facebook;
      }

        // .no-touch .latest.social > li > a:hover span.facebook {
        //   color: lighten($color-facebook, 10%);
        // }

// Individual Movie Page - Left Content Area
// ==========================================================================

.movie {
  @extend .wide;
  @extend .left;  
}

  .poster-container {
    display: block;
    float: left;
    width: 45%;
  }

    .poster {
      margin-bottom: 0.8em;
    }

  .rating {
    display: block;
    padding: 0 0.5em;
  }

    .rating > span {
      display: table-cell;
      font-size: 2em;
      height: 100%;
      line-height: 0;
      padding-right: 0.4em;
      vertical-align: middle;
    }

    .rating > p {
      display: table-cell;
      font-size: 0.8em;
      height: 100%;
      line-height: 1.3em;
      vertical-align: middle;
    }

  .movie > .description {
    float: left;
    padding-left: 1.5em;
    width: 55%;
  }

    .movie dl {
      @extend .clear-after;
    }

    .movie dl dt {
      @include font-source-semibold;
      display: inline;
      float: left;
      width: 50%;
    }

    .movie dl dd {
      display: inline;
      float: left;
      text-align: right;
      width: 50%;
    }

// Individual Movie Page - Right Sidebar
// ==========================================================================

.showtimes {
  @extend .narrow;
  @extend .right;
  padding: 5em 0;
  position: relative;
}

  // .no-svg .showtimes {
  //   background-color: #e7e7e7;
  // }

  .showtimes:before,
  .showtimes:after {
    background: url("/assets/ticket-edges.svg") no-repeat;
      @include background-size(cover);
    content: "";
    height: 5em;
    position: absolute;
      right: 0;
      left: 0;
    z-index: -1;
  }

    .showtimes:before {
      background-position: top right;
      top: 0;
    }

    .showtimes:after {
      background-position: bottom right;
      bottom: 0;
    }

  .showtimes > div {
    background-color: #e7e7e7;
    padding: 1em 2em;
  }

    .showtimes > div > h3 {
      padding-top: 0.5em;
      position: absolute;
        top: 0;
        right: 0;
        left: 0;
      text-align: center;
    }

// Process

.process {
  list-style-type: none;
  margin-bottom: 1em;
}

  .process > .row {
    margin-bottom: 1.2em;
  }

  .process > .row a {
    display: block;
    margin-top: 0.2em;
    text-align: center;
  }

    .when {
      float: left;
      vertical-align: middle;
      width: 34%;
    }

      .calendar {
        @include font-etica-regular;
        background-color: #bac4c5;
        color: #4d4d4d;
        cursor: pointer;
        display: block;
        height: 8.6em;
        letter-spacing: 1px;
        padding: 1.5em 1em;
        text-align: center;
        text-transform: uppercase;
      }

        .calendar > i {
          display: block;
          font-size: 2.2em;
          font-style: normal;
          line-height: 0.6em;
          margin-bottom: 0.4em;
        }

        .calendar > em {
          @include font-etica-semibold;
          display: block;
          font-size: 5em;
          line-height: 0.7em;
        }

    .where {
      @extend .right;
      float: left;
      vertical-align: middle;
      width: 66%;
    }

      .where > span {
        @include font-etica-semibold;
        background-color: #bac4c5;
        color: #4d4d4d;
        cursor: pointer;
        display: block;
        height: 8.6em;
        padding: 1em;
        text-align: center;
      }

  .process-list {
    margin-top: 1em;
  }

    .process-list > li {
      @include border-radius(0.4em);
      @include single-transition(all, 0.1s, linear);
      background-color: $color-background;
      cursor: pointer;
      display: inline-block;
      font-size: 1.2em;
      margin: 0 0.5em 0.5em 0;
      padding: 0.3em 0.5em 0.2em 0.5em;
    }

      .no-touch .process-list > li:hover {
        @include border-radius(0.7em);
        background-color: #ffffff;
      }

      .process-list > .selected {
        background-color: $color-purple;
        color: #ffffff;
      }

        .no-touch .process-list > .selected:hover {
          @include border-radius(0.4em);
          background-color: $color-purple;
          color: #ffffff;
          cursor: default;
        }

  .format {
    border-top: 0.3em dashed $color-background;
    padding: 1.2em 0;
  }

  .time {
    border-top: 0.3em dashed $color-background;
    padding: 1.2em 0;
  }

  .quantity {
    border-top: 0.3em dashed $color-background;
    padding: 1.2em 0;
    text-align: center;
  }

    .quantity > label {
      @include font-etica-regular;
      color: $color-purple;
      font-size: 1.3em;
      letter-spacing: 1px;
      line-height: 1em;
      text-transform: uppercase;
      vertical-align: middle;
    }

.hint {
  margin-top: 0.5em;
  margin-bottom: 0;
  text-align: right;
}

  .hint a,
  .hint a:visited {

  }


// Horizontal Rules
// ==========================================================================

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

  .filmstrip {
    @include font-etica-regular;
    background: #e7e7e7 url("/assets/texture-noise-2.png") repeat top left;
      @include image-2x("/assets/texture-noise-2@2x.png", 100px, 100px);
    border-top: 0.7em solid #e7e7e7;
    border-bottom: 0.7em solid #e7e7e7;
    font-size: 16px; // For responsive sizing
    margin: 0 -5.6% 2em -5.6%;
    line-height: 3em;
  }

    .filmstrip > hr {
      border-top: 0.2em dashed $color-background;
      height: 0.1em;
      margin: 0;
    }

// Google Maps
// ==========================================================================

.map *,
.map *:before,
.map *:after {
  @extend .default-box-model;
  & img {max-width: none;}
}

// Ancient Browser Alert
// ==========================================================================

.ancient {
  background: #666666;
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0;
  padding: 0.5em 1em;
  position: fixed;
    top: 0;
    right: 0;
    left: 0;
  text-align: center;
  z-index: 1000000;
}

.ancient a,
.ancient a:visited {
  color: #ffffff;
  text-decoration: underline;
}