nav {
  @extend .wrapper;
  text-align: right;
}

  nav > ul {
    @include inline-block-list;
    font-size: 1.3em;
  }

    nav > ul > li {
      @include inline-block-list-item;
      padding: 0.2em 0.1em;
    }

      nav a,
      nav a:visited {
        @include border-radius(0.2em);
        @include single-transition(background, 0.3s, linear);
        color: $color-gray;
        padding: 0.05em 0.3em;
        text-decoration: none;
      }

        .no-touch nav a:hover {
          background-color: #f0f0f0;
        }